body{
    margin: 0;
    padding: 0;
    background-color: #F5EEE6;
}

h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

h4, h3, p{
    font-family: 'Noto Sans', sans-serif;
}

#settings {
    padding: 1.5rem 1rem;
    width: 100%;
    background: linear-gradient(to bottom, #E6A4B4, #F5EEE6);
}

button{
    border-radius: 9px;
    padding: 6px 10px;
    margin: 0 2px;
    background-color: #FFF8E3;
    opacity: 0.7;
    border-color: #E6A4B4;
}

.presentation{
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.welcome{
    margin-bottom: 1rem;
}

.language-buttons{
    display: inline-block;
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    top: 13%;
    right: 5%;
}

.area-text{
    display: inline-block;
    margin-left: 1.5rem;
    width: 45%;
}

p{
    font-size: .85rem;
}

textarea{
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.area-result{
    display: inline-block;
    position: absolute;
    right: 5%;
    align-items: center;
}

.result{
    right: 30%;
}

.encrypt:hover, .decrypt:hover{
    background-color: #F3D7CA;
}

